header {
  width: 100vw;
  height: 44px;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main-background-color;
  z-index: 80;
  a, .logo-header {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 16px;
  }
}
