main {
  position: relative;
  top: 44px;
  overflow-x: hidden;
}
// ******************************************************
// ***************** Media Queries **********************
// ******************************************************

// ------------------------------------------------------
// --------------------- Desktop ------------------------
// ------------------------------------------------------
@media screen and (min-width: 1024px) {
  main {
    top: 80px;
  }
}
// ------------------------------------------------------
// ------------------------------------------------------