.presentacion {
  margin: 29px 16px 0 16px;
  h1 {
    font-family: $secondary-font-family;
    font-size: $mobile-titles-font-size;
    line-height: $mobile-titles-line-height;
    font-weight: $font-weight-normal;
  }
  span:nth-child(1) {
    text-decoration: $desktop-anchor-text-decoration;
  }
  span:nth-child(3) {
    color: $primary-color;
  }
  .mobile-p {
    @include paragraph-content-mobile();
    margin-top: 16px;
  }
  .desktop-p {
    display: none;
  }
  .anchor-button {
    @include anchor-button-mobile;
    margin-top: 36px;
  }
}
// ******************************************************
// ***************** Media Queries **********************
// ******************************************************

// ------------------------------------------------------
// --------------------- Desktop ------------------------
// ------------------------------------------------------
@media screen and (min-width: 1024px) {
  .presentacion {
    margin: 120px 0 0 100px;
    h1 {
      font-size: $desktop-titles-font-size;
      line-height: $desktop-titles-line-height;
      br {
        display: none;
      }
    }
    .mobile-p {
      display: none;
    }
    .desktop-p {
      display: block;
      margin-top: 0px;
      width: 628px;
      text-align: justify;
      font-size: $desktop-content-font-size;
      line-height: $desktop-content-line-height;
    }
    .anchor-button {
      width: 226px;
      height: 56px;
      font-size: $desktop-button-font-size;
      line-height: $desktop-button-line-height;
    }
  }
}
@media screen and (min-width: 1440px) {
  .presentacion {
    margin: 120px 0 0 200px;
  }
}
// ------------------------------------------------------
// ------------------------------------------------------

