html {
  font-size: 10px;
  font-family: $main-content-font-family, $secondary-font-family, sans-serif;
  color: $main-font-color;
  letter-spacing: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
