* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  border: none;
}

html {
  font-size: 10px;
  font-family: "IBM Plex Mono", sans-serif, "IBM Plex Sans", sans-serif, sans-serif;
  color: #060A24;
  letter-spacing: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  z-index: 80;
}

header a, header .logo-header {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 16px;
  z-index: 100;
}

header .logo-header {
  -webkit-animation: rueda 2.5s ease-in-out;
          animation: rueda 2.5s ease-in-out;
}

@-webkit-keyframes rueda {
  0% {
    left: 425px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@keyframes rueda {
  0% {
    left: 425px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
  }
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes rueda {
    0% {
      left: 1024px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      left: 0px;
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg);
    }
  }
  @keyframes rueda {
    0% {
      left: 1024px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      left: 0px;
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
  header .anchor-logo {
    width: 3.6rem;
    height: 3.6rem;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 100px;
  }
  header .anchor-logo .logo-header {
    width: 3.6rem;
    height: 3.6rem;
    margin: unset;
  }
  @-webkit-keyframes rueda {
    0% {
      left: 1280px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      left: 0px;
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg);
    }
  }
  @keyframes rueda {
    0% {
      left: 1280px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      left: 0px;
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg);
    }
  }
}

@media screen and (min-width: 1440px) {
  @-webkit-keyframes rueda {
    0% {
      left: 1550px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      left: 0px;
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg);
    }
  }
  @keyframes rueda {
    0% {
      left: 1550px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      left: 0px;
      -webkit-transform: rotate(1080deg);
              transform: rotate(1080deg);
    }
  }
}

main {
  position: relative;
  top: 44px;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  main {
    top: 80px;
  }
}

footer {
  position: relative;
  top: 44px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

footer .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

footer .social-container a {
  margin-right: 38px;
  font-size: 1.6rem;
  color: #060A24;
}

footer .social-container a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

footer .social-container a:active {
  text-decoration: line-through;
}

footer .social-container a:nth-child(1) {
  margin-left: 45px;
}

footer .social-container a:nth-child(5) {
  margin-right: 45px;
}

@media screen and (min-width: 1024px) {
  footer {
    top: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p {
    margin-left: 100px;
    font-size: 1.6rem;
  }
  footer .social-container {
    margin-right: 100px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  footer .social-container a {
    margin-right: 45px;
    font-size: 1.8rem;
  }
  footer .social-container a:nth-child(1) {
    margin-left: 0px;
  }
  footer .social-container a:nth-child(5) {
    margin-right: 0px;
  }
}

nav {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .hamburger-menu {
  width: 18px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .hamburger-menu span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  z-index: 90;
  background-color: #000;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.5s ease;
  transition: transform 0.6s ease, opacity 0.5s ease, -webkit-transform 0.6s ease;
}

nav .hamburger-menu span:nth-child(2) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

nav .hamburger-menu span:nth-child(4) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

nav .hamburger-menu ul {
  width: 100vw;
  position: absolute;
  top: 44px;
  right: 0;
  list-style: none;
  background-color: #0000EC;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.6s ease-in-out;
  transition: height 0.6s ease-in-out;
}

nav .hamburger-menu ul li .nav-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin-left: 16px;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.8rem;
  z-index: 10;
}

nav .hamburger-menu ul li .nav-anchor:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

nav .hamburger-menu ul li .nav-anchor:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

nav .hamburger-menu input {
  position: absolute;
  width: 20px;
  height: 15px;
  z-index: 100;
  opacity: 0;
}

nav .hamburger-menu input:checked ~ ul {
  height: 200px;
}

nav .hamburger-menu input:checked ~ span:nth-child(2) {
  background-color: #0000EC;
  -webkit-transform: rotate(45deg) translate(-2%, -60%);
          transform: rotate(45deg) translate(-2%, -60%);
}

nav .hamburger-menu input:checked ~ span:nth-child(3) {
  -webkit-transform: scale(0.1, 0.1);
          transform: scale(0.1, 0.1);
  opacity: 0;
}

nav .hamburger-menu input:checked ~ span:nth-child(4) {
  background-color: #0000EC;
  -webkit-transform: rotate(-45deg) translate(-2%, 60%);
          transform: rotate(-45deg) translate(-2%, 60%);
}

@media screen and (min-width: 1024px) {
  nav {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 100px;
  }
  nav .hamburger-menu {
    width: unset;
    height: unset;
  }
  nav .hamburger-menu span, nav .hamburger-menu input {
    display: none;
  }
  nav .hamburger-menu span input:checked ~ ul, nav .hamburger-menu input input:checked ~ ul {
    height: auto;
  }
  nav .hamburger-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: unset;
    right: unset;
    width: auto;
    background-color: #FFF;
    overflow: visible;
    height: 28px;
    -webkit-transition: unset;
    transition: unset;
  }
  nav .hamburger-menu ul li .nav-anchor {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: normal;
    color: #060A24;
    margin: unset;
    height: unset;
    padding-right: 28px;
  }
  nav .hamburger-menu ul li:nth-child(4) .nav-anchor {
    padding-right: 0px;
  }
}

.presentacion {
  margin: 29px 16px 0 16px;
}

.presentacion h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: normal;
}

.presentacion span:nth-child(1) {
  text-decoration: line-through;
}

.presentacion span:nth-child(3) {
  color: #0000EC;
}

.presentacion .mobile-p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-top: 16px;
}

.presentacion .desktop-p {
  display: none;
}

.presentacion .anchor-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  background: #00F3BB;
  margin-top: 36px;
}

.presentacion .anchor-button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #00F3BB;
  text-decoration: line-through;
}

.presentacion .anchor-button:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .presentacion {
    margin: 29px 16px 0 100px;
  }
  .presentacion .mobile-p {
    display: none;
  }
  .presentacion .desktop-p {
    display: block;
    margin-top: 8px;
    width: 428px;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .presentacion .anchor-button {
    width: 190px;
    height: 40px;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .presentacion {
    margin: 120px 0 0 100px;
  }
  .presentacion h1 {
    font-size: 6.4rem;
    line-height: 8.4rem;
  }
  .presentacion h1 br {
    display: none;
  }
  .presentacion .desktop-p {
    margin-top: 0px;
    width: 628px;
  }
  .presentacion .anchor-button {
    width: 226px;
    height: 56px;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .presentacion {
    margin: 120px 0 0 200px;
  }
}

.episodios {
  position: relative;
  width: 100%;
  height: 1230.5px;
  margin-top: 24px;
  background: linear-gradient(225deg, #0000FF, #0000A3);
  -webkit-clip-path: polygon(0% 3%, 100% 0, 100% 97%, 0% 100%);
          clip-path: polygon(0% 3%, 100% 0, 100% 97%, 0% 100%);
}

.episodios #episodios {
  position: absolute;
  top: -48px;
}

.episodios h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: normal;
  color: #FFF;
  line-height: 4.2rem;
  padding-top: 64px;
  margin-left: 16px;
}

.episodios .iframes-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}

.episodios .iframes-flex-container iframe {
  width: 301px;
  height: 232px;
  margin-bottom: 10px;
}

.episodios .iframes-flex-container iframe:nth-child(4) {
  margin-bottom: -1px;
}

@media screen and (min-width: 768px) {
  .episodios {
    margin-top: 5px;
    height: 842.6px;
    -webkit-clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
  }
  .episodios #episodios {
    top: -48px;
  }
  .episodios h2 {
    padding-top: 150px;
    margin-left: 100px;
  }
  .episodios .iframes-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin: 26px 100px 17px 100px;
  }
  .episodios .iframes-flex-container iframe {
    width: 49%;
    height: 232px;
  }
}

@media screen and (min-width: 1024px) {
  .episodios {
    margin-top: 5px;
    height: 942.6px;
    -webkit-clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
  }
  .episodios #episodios {
    top: -80px;
  }
  .episodios h2 {
    padding-top: 150px;
    margin-left: 200px;
    font-size: 4.8rem;
  }
  .episodios .iframes-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin: 26px 100px 17px 100px;
    width: 85%;
  }
  .episodios .iframes-flex-container iframe {
    width: 49%;
    height: 232px;
  }
}

@media screen and (min-width: 1440px) {
  .episodios {
    margin-top: 5px;
    height: 1042.6px;
    -webkit-clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
  }
  .episodios h2 {
    padding-top: 186px;
    margin-left: 200px;
    font-size: 4.8rem;
  }
  .episodios .iframes-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 26px 100px 17px 100px;
    width: 1240px;
  }
  .episodios .iframes-flex-container iframe {
    width: 584px;
    height: 232px;
  }
  .episodios .iframes-flex-container iframe:nth-child(1), .episodios .iframes-flex-container iframe:nth-child(3) {
    margin-right: 72px;
  }
  .episodios .iframes-flex-container iframe:nth-child(3), .episodios .iframes-flex-container iframe:nth-child(4) {
    margin-top: 68px;
  }
}

.offFlow-image-contain {
  width: 100%;
  height: 519px;
  position: absolute;
  top: 1435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offFlow-image-contain .img-mary-allen {
  position: absolute;
  width: 360px;
  height: 519px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media screen and (min-width: 768px) {
  .offFlow-image-contain {
    width: 420.6px;
    height: 420px;
    top: 1020px;
    left: 0px;
  }
  .offFlow-image-contain .img-mary-allen {
    width: 457.6px;
    height: 460px;
  }
}

@media screen and (min-width: 1024px) {
  .offFlow-image-contain {
    width: 420.6px;
    height: 620px;
    top: 1120px;
    left: 50px;
  }
  .offFlow-image-contain .img-mary-allen {
    width: 457.6px;
    height: 660px;
  }
}

@media screen and (min-width: 1280px) {
  .offFlow-image-contain {
    left: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .offFlow-image-contain {
    width: 457.6px;
    height: 660px;
    top: 1220px;
    left: 200px;
  }
  .offFlow-image-contain .img-mary-allen {
    width: 457.6px;
    height: 660px;
  }
}

.nosotros {
  position: relative;
  margin: 450.5px 16px 0 16px;
}

.nosotros #nosotros {
  position: absolute;
  top: -48px;
}

.nosotros h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: normal;
  color: #060A24;
  line-height: 4.2rem;
}

.nosotros p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .nosotros {
    margin: 0px 0 0 340px;
    width: 364px;
    text-align: justify;
  }
  .nosotros #nosotros {
    top: -200px;
  }
}

@media screen and (min-width: 1024px) {
  .nosotros {
    margin: 20.4px 0 0 520px;
    width: 464px;
  }
  .nosotros #nosotros {
    top: -350px;
  }
  .nosotros h2 {
    font-size: 4.8rem;
  }
  .nosotros p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .nosotros p:nth-child(3) {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .nosotros {
    margin-left: 650px;
  }
}

@media screen and (min-width: 1440px) {
  .nosotros {
    margin: 0 0 0 720px;
    width: 464px;
  }
  .nosotros h2 {
    font-size: 4.8rem;
  }
  .nosotros p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .nosotros p:nth-child(3) {
    margin-top: 24px;
  }
}

.entrevistas {
  position: relative;
  margin: 54px 0 0 0;
}

.entrevistas #entrevistas {
  position: absolute;
  top: -48px;
}

.entrevistas h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: normal;
  color: #060A24;
  line-height: 4.2rem;
  margin: 0 16px;
}

.entrevistas .imgs-entrevistas-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}

.entrevistas .imgs-entrevistas-flex-container img {
  width: 100vw;
  max-width: 320px;
  height: 243px;
}

@media screen and (min-width: 768px) {
  .entrevistas {
    margin: 180px 0 0 0;
  }
  .entrevistas #entrevistas {
    top: -120px;
  }
  .entrevistas h2 {
    margin: 0 0 0 100px;
  }
  .entrevistas .imgs-entrevistas-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 36px;
  }
  .entrevistas .imgs-entrevistas-flex-container img {
    width: 33vw;
    max-width: 33vw;
    height: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .entrevistas {
    margin: 245px 0 0 0;
  }
  .entrevistas #entrevistas {
    top: -200px;
  }
  .entrevistas h2 {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .entrevistas h2 {
    margin: 0 0 0 200px;
  }
}

.topicos {
  position: relative;
  margin: 48px 16px 0 16px;
}

.topicos #topicos {
  position: absolute;
  top: -48px;
}

.topicos h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: normal;
  color: #060A24;
  line-height: 4.2rem;
}

.topicos .topicos-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 37px;
}

.topicos .topicos-flex-container .svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.topicos .topicos-flex-container .svg-container img {
  width: 104px;
  height: 104px;
  margin: 0 0 13px 0;
}

.topicos .topicos-flex-container .svg-container:nth-child(2) {
  margin-top: 49px;
}

.topicos .topicos-flex-container .svg-container:nth-child(3), .topicos .topicos-flex-container .svg-container:nth-child(4) {
  margin-top: 65px;
}

.topicos .topicos-flex-container .svg-container h3 {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .topicos {
    margin-top: 60px;
  }
  .topicos #topicos {
    top: -40px;
  }
  .topicos h2 {
    margin-left: 100px;
  }
  .topicos .topicos-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  .topicos .topicos-flex-container .svg-container {
    width: 50%;
  }
  .topicos .topicos-flex-container .svg-container img {
    margin: 0 0 10px 0;
  }
  .topicos .topicos-flex-container .svg-container:nth-child(2) {
    margin-top: unset;
  }
  .topicos .topicos-flex-container .svg-container:nth-child(3), .topicos .topicos-flex-container .svg-container:nth-child(4) {
    margin-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .topicos {
    margin: 64px 0 0 0;
  }
  .topicos #topicos {
    top: -100px;
  }
  .topicos h2 {
    font-size: 4.8rem;
  }
  .topicos .topicos-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-top: 69px;
  }
  .topicos .topicos-flex-container .svg-container {
    width: 22%;
  }
  .topicos .topicos-flex-container .svg-container img {
    margin: 0 0 29px 0;
  }
  .topicos .topicos-flex-container .svg-container:nth-child(2), .topicos .topicos-flex-container .svg-container:nth-child(3), .topicos .topicos-flex-container .svg-container:nth-child(4) {
    margin-top: unset;
  }
  .topicos .topicos-flex-container .svg-container h3 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .topicos h2 {
    margin-left: 200px;
  }
}

.novedades {
  margin-top: 42px;
  height: 341px;
  background: linear-gradient(225deg, #0000FF, #0000A3);
  -webkit-clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 100%);
}

.novedades h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: normal;
  color: #FFF;
  line-height: 4.2rem;
  text-align: center;
  padding: 64px 16px 0px 16px;
}

.novedades .anchor-button-container {
  margin: 36px 16px 67px 16px;
}

.novedades .anchor-button-container .anchor-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 48px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  background: #00F3BB;
}

.novedades .anchor-button-container .anchor-button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #00F3BB;
  text-decoration: line-through;
}

.novedades .anchor-button-container .anchor-button:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .novedades {
    margin-top: 34px;
    height: 518px;
    -webkit-clip-path: polygon(0% 25%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0% 25%, 100% 0, 100% 100%, 0% 100%);
  }
  .novedades h2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    padding: 213px 0 0 0;
  }
  .novedades .anchor-button-container {
    margin: 36px auto 151px auto;
  }
  .novedades .anchor-button-container .anchor-button {
    width: 280px;
    height: 45px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .novedades h2 {
    font-size: 4.8rem;
  }
  .novedades .anchor-button-container .anchor-button {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=main.css.map */